@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200;1,300;1,400;1,600&family=Poppins:ital,wght@0,100;0,300;1,100;1,300&display=swap');
body{
  margin: 0;
  padding: 0;
 box-sizing: border-box;
 background: #f1f1f1;
 font-family: 'Montserrat', sans-cherif;

}

.font-image{
background: linear-gradient( rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url('image boul.jpg');
 background-size: cover;
height: 150px;
 
}
.header-logo{
  display: inline-block;
  width: 90%;
  padding: 10px 20px;
}
.header-logo a{
  text-decoration: none;
  color: green;
  font size: 1.5rem;
  font-weight: bold;
}
.nav{
  display: inline-block;
  width: 90%;
}
.nav-items{
  width: calc(70% - 100px);
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.nav-item{
  display: inline-block;
  margin: 0px 10px;
}

.nav-search_el{
  background: #c5c5c5;
    padding: 2px 3px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    overflow: hidden;
    width: 200px;
    height: 20px;
}
.search-input{
    background: #c5c5c5;
    border: none;
    flex-basis: 60%;
    outline: none;
}
.nav-item a {
  text-decoration: none;
  color: green;
  font-weight: 600;
}
.nav-search{
  display: inline-block;
  width: 30%;
  vertical-align: middle;
  text-align: center;
}
.i{
  width: 20%;
}
.text_de_la_premiere_image{
  width: 40%;
  margin-left: 330px;
  top: 300px;
  position: absolute;
  font-family: 'Poppins', sans-serif;

} 
.premiere_image{
  width: 80%;
}

.les_icones_principal{
   width: 40%;
  position: absolute;
  margin-left: 800px;
  color: green;
  }

.p{
  left: -80px;
  position: absolute;
  bottom: -19px;
}
.deuxieme_lot_div{
   width: 40%;
  margin-left: 300px;
  color: green;
}
.a{
   position: absolute;
   bottom: 70px;
   left: 400px;
}
.deuxieme_lot{

  width: 40%;
  margin-left: 30px;
  position: absolute;
  font-family: 'Poppins', sans-serif;
  margin-top: 60px;
  border-top:1px solid black;
  width: 40%;
}
.d{
  position: absolute;
  bottom: 85px;
  left: 500px;
}
.image{
  left: 700px;
  position: absolute;
  bottom: 70px;
   width: 20%;
}
.premiere_image_du_bas{

  width: 30%;
  height: 210px;
  left: 10px;
  bottom: -200px;
  position: absolute;
}
.deuxieme_image_du_bas{

  width: 30%;
  left: 550px;
  bottom: -200px;
  position: absolute;
  height: 210px;
}
.div_des_images{
  border-top:1px solid black;
  margin-top: 350px;
  width: 65%;
}
.premier_lot{
  position: absolute;
  bottom: -400px;
  width: 30%;
}
.icone_premiere_img{
margin-left: 500px;
color: green;
bottom: -400px;
position: absolute;
}
.b{
  position: absolute;
  bottom: -10px;
  left: -170px;
}
.c{
  position: absolute;
  left: -80px;
  bottom: -200x;
  top: -25px;
}
.text_de_la_deuxieme_img{
  width: 30%;
  margin-left: 530px;
  top: 1040px;
  position: absolute;
  font-family: 'Poppins', sans-serif;
}
.f{
  position: absolute;
  bottom: -10px;
  left: 170px;
}
.k{
  position: absolute;
  left: 300px;
  bottom: 100x;
  top: 221px;
}
.iconne_derniere_img{
  color: green;
 }
 .derniere_div_gauche{

  position: absolute;
  left: 500px;
  top: -500px;
  height: 700px;
  width: 500px;
  
 }
 .le_conteneur{
  max-width: 380px;
  margin: auto;
  margin-top: 100px;
  background-color: black;
  text-align: center;
  border-radius: 15px;
  padding: 40px;
  color: white;
  box-sizing:border-box ;
 }
 h2{
  color: white;
  text-align: center;
  text-transform: capitalize;
 }
 input{
  width: 100%;
  margin :10px 0;
  outline: none;
  background-color: transparent;
  color: white;
  padding: 10px 6px;
  font-size: 18px;
  font-weight: bold;
  box-sizing: border-box;
 }
 .seul{
  width: 80%;
  border-radius: 12px;
  padding: 10px;
  background-color: aquamarine;
  font-weight: bold;
  outline: none;
 }

